﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="account.aspx.cs" Inherits="WebApplication1.account" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>My Account</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Welcome to your account.
    </div>
    </form>
</body>
</html>
